torch~=2.5.1
GPUtil~=1.4.0
setuptools~=75.6.0
bitsandbytes~=0.45.0
PyQt6~=6.8.0
PyQt6-WebEngine~=6.6.0
psutil~=6.1.1
transformers~=4.47.1
accelerate~=1.2.1
Markdown~=3.7
--index-url https://download.pytorch.org/whl/cu124
--extra-index-url https://pypi.org/simple
